.Dad{
    justify-content: space-between;
    align-items: center;
    
}
.green{
    background-color: green;
    color: white; 
}

.Heading{
    font-style: normal; font-size: x-large;
}

.Dad, .a, .b, .c, .d, .e, .f, 
.g, .h, .i, .j, .k, .l, .m, .n, 
.o, .p, .q, .r, .s, .t, .u, .v, .w, 
.x, .y, .z, .aa, .ab, .ac, .ad, 
.ae, .af {
border: 1px solid #eeee;
}

.land{
display: flex; flex-direction: row; flex: 1fr;
}

.green{
    background-color: darkgreen;
}
.ag{
    border-top: 1px solid #eeee;
}