.Alpha{
    display: flex; margin-left: auto;
}
.Ab{
    height: 50px; width: 30px; padding-top: 15px;
}
.topicons{
display: flex; margin-left: 500px;
}
.topicons1{
    margin-left: 50px;
}
.top{
    display: flex; margin-left: auto; margin-right: 15px;
}
.topicons2{
    margin-left: 50px; background-color: tomato; border-radius: 10%; color: white; padding: 5px;
}
.Body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: xx-large;
}
.Body2{
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: x-large;
}
 
.B1{
    padding: 20px; background-color: tomato; border-radius: 10%; color: white;
}
.B2{
    padding: 20px; background-color: white; border-radius: 10%;
}
.Last{
    display: flex;
}
.Eat{
    margin-left: 275px;
}

.Background{
    background-color: seashell;
}